src/main/mule/putCommunication.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="putCommunicationFlow" doc:id="3e77910b-f388-4676-8fc7-2eabeb9479c1" >
					<set-variable value="#[attributes.headers]" doc:name="headers" doc:id="4f9253a1-9c43-4427-81c2-1ebb288ba0dd" variableName="headers"/>
		<logger level="INFO" doc:name="Logger" doc:id="d0fa48ff-a959-4437-8caf-3c1fc8376a82" message="#[output application/json
---
{
	correlationId: vars.headers.'X-correlation-id',
	sessionId: vars.headers.'X-session-id',
	applicationName: app.name,
	message: &quot;Call to Process API Started&quot;
}]"/>
		<http:request method="PUT" doc:name="Request" doc:id="c925569a-d7a7-46ff-ab23-2544591b9f55" config-ref="ProcessAPI_HTTP_Request_configuration" path="${processAPI.putCommunication.path}">
			<http:headers ><![CDATA[#[output application/java
---
{
	'X-correlation-id' : vars.headers.'X-correlation-id',
	'X-session-id' : vars.headers.'X-session-id',
	clientId : vars.headers.clientId,
	clientSecretKey : vars.headers.clientSecretKey
}]]]></http:headers>
		</http:request>
				<logger level="INFO" doc:name="Logger" doc:id="0ee1db36-335b-41ba-a11b-a8a6a1f54163" message="#[output application/json
---
{
	correlationId: vars.headers.'X-correlation-id',
	sessionId: vars.headers.'X-session-id',
	applicationName: app.name,
	message: &quot;Call to Process API Completed&quot;
}]"/>
	</flow>
</mule>
